@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/* Navigation */

nav {
    position: fixed;
    width: 100%;
    background-color: rgb(194 225 233);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 6vw;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

nav img {
    width: 150px;
    cursor: pointer;
    border-radius: 80px;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(20 31 66);
    font-size: 22px;
    font-weight: 600;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover {
    color: rgb(8, 193, 85);
}

/* Home */

#home {
    background-image: linear-gradient(rgba(9, 9, 54, 0.4), rgba(5, 4, 54, 0.7)), url("home/img-home.jpeg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 120px;
}

#home h2 {
    color: aliceblue;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home p {
    width: 50%;
    color: aliceblue;
    font-size: 1rem;
    line-height: 25px;
}

#home .btn {
    margin-top: 30px;
}

#home a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 36px;
    background-color: rgb(77, 222, 184);
    font-weight: 600;
    border-radius: 10px;
    margin: 6px;
}

#home a.blue {
    color: aliceblue;
    background: rgb(148 119 14);
    transition: 0.3s ease;
}

#home a.blue:hover {
    color: aliceblue;
    background: rgba(72, 5, 242, 0.3);
}

#home a.yellow {
    color: aliceblue;
    background: rgb(68 153 11);
    transition: 0.3s ease;
}

#home a.yellow:hover {
    color: aliceblue;
    background: rgba(72, 5, 242, 0.3);
}

/* features */

#features {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#features .fea-box {
    background-color: rgb(194 225 233);
    text-align: start;
    padding: 14px;
}

#features .fea-box i {
    font-size: 2.3rem;
    color: rgb(23 33 69);
}

#features .fea-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(23 33 69);
    padding: 13px 0 7px 0;
}

#features .fea-box p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(23 33 69);
}

/* Courses */

#course {
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

#course .course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#course .courses {
    text-align: start;
    background: #dee6e9;
    height: 100%;
    position: relative;
}

#course .courses img {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

#course .courses .details {
    padding: 15px 15px 18px 15px;
}

#course .courses .details i {
    color: #b58a04;
    font-size: 0.9rem;
}

#course .courses .cost {
    background-color: #32aa12;
    color: #ebff2f;
    line-height: 70px;
    width: 88px;
    height: 76px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 4px;
    bottom: 80px;
    cursor: pointer;
}

/* registration */

#registration {
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(82, 89, 124, 0.8), rgba(70, 73, 114, 0.8)), url(courses/img-form.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}

#registration .reminder {
    color: aliceblue;
}

#registration .reminder h1 {
    color: aliceblue;
}

#registration .reminder .time {
    display: flex;
    margin-top: 40px;
}

#registration .reminder .time .date {
    text-align: center;
    padding: 13px 33px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(2px);
    box-shadow: 0px 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 3px solid rgba(217, 236, 236, 0.18);
    font-size: 1rem;
    font-weight: 600;
}

#registration .form {
    background: rgba(255, 255, 255, 0.30);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0px 8px 32px 0 rgba(31, 38, 135, 0.37);

}

#registration .form input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 2px solid skyblue;
    border-radius: 6px;
}

#registration .form .btn-form {
    background-color: green;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    padding: 6px 90px;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

#registration .form .btn-form:hover {
    background-color: rgb(158, 161, 75);
}

/* Profiles */

#experts {
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

#experts .expert-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#experts .expert-box .profiles {
    background: #dee6e9;
    padding: 30px 10px;
}

.pro-links {
    margin-top: 10px;
}

.pro-links i {
    padding: 10px 14px;
    background-color: #ffffff;
    border: 1px solid skyblue;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 50%;
}

.pro-links i:hover {
    background: #161e42;
    color: aliceblue;
}